.sign-up {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  position: relative;
  background-color: #f7f9fc;
}

.sign-up .background {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: flex-start;
  gap: 16px;
  padding: 20px 17px 20px 16px;
  position: relative;
  align-self: stretch;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #e2e8f0;
}

.sign-up .container {
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .iconify-icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .SVG {
  position: relative;
  width: 20px;
  height: 20px;
}

.sign-up .group {
  position: relative;
  height: 20px;
}

.sign-up .vector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4.16%;
  left: 4.16%;
}

.sign-up .img {
  width: 100%;
  top: 70.83%;
  left: 4.17%;
  position: absolute;
  height: 100%;
}

.sign-up .text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120.31px;
  height: 21px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #12324b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .background-border {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 11px 13px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .group-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

.sign-up .div {
  position: relative;
  height: 16px;
}

.sign-up .vector-2 {
  width: 100%;
  top: 65.25%;
  left: 65.25%;
  position: absolute;
  height: 100%;
}

.sign-up .vector-3 {
  width: 100%;
  top: 8.33%;
  left: 8.33%;
  position: absolute;
  height: 100%;
}

.sign-up .text-wrapper {
  position: relative;
  width: 46.47px;
  height: 17px;
  margin-top: -1.00px;
  color: #98a0b2;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-up .container-2 {
  flex-direction: column;
  height: 88px;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
}

.sign-up .container-3 {
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 12px;
  display: flex;
  position: relative;
}

.sign-up .vector-wrapper {
  position: relative;
  width: 18px;
  height: 18px;
}

.sign-up .vector-4 {
  width: 100.00%;
  top: 8.33%;
  left: 8.33%;
  position: absolute;
  height: 100%;
}

.sign-up .text-2 {
  position: relative;
  width: 36.56px;
  height: 17px;
  color: #12324b;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .background-2 {
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  width: 100%;
  flex: 0 0 auto;
  background-color: #e6f0ff;
  border-radius: 12px;
  display: flex;
  position: relative;
  align-self: stretch;
}

.sign-up .iconify-icon-2 {
  position: relative;
  flex: 0 0 auto;
}

.sign-up .text-3 {
  position: relative;
  width: 50.03px;
  height: 17px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .container-4 {
  flex-direction: column;
  width: 940px;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  position: relative;
}

.sign-up .background-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px 17px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e2e8f0;
}

.sign-up .container-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .text-4 {
  position: relative;
  width: 174.7px;
  height: 21px;
  color: #0f1724;
  font-size: 18px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .background-border-2 {
  width: 80.56px;
  height: 41px;
  background-color: #eef6ff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .SVG-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  left: 15px;
}

.sign-up .vector-5 {
  width: 100%;
  top: 4.17%;
  left: 4.17%;
  position: absolute;
  height: 100%;
}

.sign-up .vector-6 {
  width: 100%;
  top: 29.17%;
  left: 45.83%;
  position: absolute;
  height: 100%;
}

.sign-up .text-5 {
  position: absolute;
  top: 13px;
  left: 31px;
  width: 35px;
  height: 17px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .container-wrapper {
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .container-6 {
  width: 900px;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  align-self: stretch;
  display: flex;
  position: relative;
}

.sign-up .background-border-3 {
  flex-direction: column;
  width: 440px;
  align-items: flex-start;
  gap: 16px;
  padding: 17px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #e2e8f0;
  display: flex;
  position: relative;
  align-self: stretch;
}

.sign-up .div-wrapper {
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .text-6 {
  position: relative;
  width: 159.55px;
  color: #0f1724;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .container-7 {
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .background-border-4 {
  display: flex;
  flex-direction: column;
  width: 198px;
  align-items: flex-start;
  padding: 11px 13px;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .text-7 {
  position: relative;
  width: 69.41px;
  height: 17px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-8 {
  position: relative;
  width: 68.25px;
  height: 17px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .background-border-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 11px 13px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .text-9 {
  position: relative;
  width: 35.33px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-10 {
  position: relative;
  width: 64.8px;
  height: 17px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-11 {
  position: relative;
  width: 121.72px;
  height: 17px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-12 {
  position: relative;
  width: 102.98px;
  height: 17px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .container-8 {
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .container-9 {
  width: 290.78px;
  align-items: center;
  gap: 8px;
  display: flex;
  position: relative;
}

.sign-up .background-border-6 {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 6px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .p {
  position: relative;
  width: 220.78px;
  height: 15px;
  color: #98a0b2;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .background-border-7 {
  display: flex;
  flex-direction: column;
  width: 105.22px;
  align-items: flex-start;
  padding: 11px 15px;
  background-color: #eef6ff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .text-13 {
  position: relative;
  width: 75.22px;
  height: 17px;
  margin-top: -1.00px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .container-10 {
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .background-border-8 {
  align-self: stretch;
  width: 152.22px;
  background-color: #0ea5a4;
  border-radius: 12px;
  position: relative;
  border: 1px solid;
}

.sign-up .iconify-icon-3 {
  position: absolute;
  top: 11px;
  left: 15px;
  width: 16px;
  height: 16px;
}

.sign-up .text-14 {
  position: absolute;
  top: 13px;
  left: 31px;
  width: 106px;
  height: 17px;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .background-border-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 11px 15px;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #eef6ff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .text-15 {
  position: relative;
  width: 98.17px;
  height: 17px;
  margin-top: -1.00px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-16 {
  position: relative;
  width: 115.55px;
  color: #0f1724;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .container-11 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .background-border-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 15px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .vector-7 {
  width: 100%;
  top: 25.00%;
  left: 4.17%;
  position: absolute;
  height: 100%;
}

.sign-up .vector-8 {
  width: 100%;
  top: 12.50%;
  left: 4.17%;
  position: absolute;
  height: 100%;
}

.sign-up .text-17 {
  position: relative;
  width: 135.31px;
  height: 17px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .vector-9 {
  width: 100%;
  top: 4.17%;
  left: 16.67%;
  position: absolute;
  height: 100%;
}

.sign-up .vector-10 {
  width: 100%;
  top: 70.83%;
  left: 45.83%;
  position: absolute;
  height: 100%;
}

.sign-up .text-18 {
  position: relative;
  width: 86.28px;
  height: 17px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-19 {
  position: relative;
  width: 64.63px;
  color: #0f1724;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .background-4 {
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  flex: 0 0 auto;
  background-color: #eef6ff;
  border-radius: 20px;
  display: flex;
  position: relative;
  align-self: stretch;
}

.sign-up .text-20 {
  position: relative;
  width: 159.92px;
  height: 17px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-21 {
  position: relative;
  width: 263.83px;
  height: 15px;
  color: #98a0b2;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .background-border-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 11px 15px;
  flex: 0 0 auto;
  background-color: #eef6ff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .text-22 {
  position: relative;
  width: 76.23px;
  height: 17px;
  margin-top: -1.00px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .container-12 {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .background-5 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #eef6ff;
  border-radius: 20px;
}

.sign-up .vector-11 {
  width: 100%;
  top: 4.17%;
  left: 12.50%;
  position: absolute;
  height: 100%;
}

.sign-up .text-23 {
  position: relative;
  width: 117.11px;
  height: 17px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-24 {
  position: relative;
  width: 288.83px;
  height: 15px;
  color: #98a0b2;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .vector-12 {
  width: 100%;
  top: 16.67%;
  left: 4.17%;
  position: absolute;
  height: 100%;
}

.sign-up .vector-13 {
  width: 100%;
  top: 37.50%;
  left: 4.17%;
  position: absolute;
  height: 100%;
}

.sign-up .text-25 {
  position: relative;
  width: 132.34px;
  height: 17px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-26 {
  position: relative;
  width: 245px;
  height: 15px;
  color: #98a0b2;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-27 {
  position: relative;
  width: 185.72px;
  color: #0f1724;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-28 {
  position: relative;
  width: 357.59px;
  color: #98a0b2;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .background-border-wrapper {
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .background-border-12 {
  align-self: stretch;
  width: 158.39px;
  background-color: #eef6ff;
  border-radius: 12px;
  border-color: #e2e8f0;
  position: relative;
  border: 1px solid;
}

.sign-up .text-29 {
  position: absolute;
  top: 13px;
  left: 31px;
  width: 112px;
  height: 17px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-30 {
  position: relative;
  width: 60.61px;
  color: #0f1724;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-31 {
  position: relative;
  width: 139.61px;
  margin-top: -1.00px;
  color: #0f1724;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .container-13 {
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.sign-up .text-32 {
  position: relative;
  width: 38.92px;
  height: 17px;
  margin-top: -1.00px;
  color: #0ea5a4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}
