body {
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f7f381; /* Nền màu vàng */
    padding: 20px;
    width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 10px 2px #333333;
}

h1 {
    text-align: center;
    color: brown; /* Màu chữ của tiêu đề */
}

.info {
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
    color: black; /* Chữ màu đen */
}

.species, .countries {
    margin: 12px;
}

.species ul, .countries ol {
    margin-left: 20px;
}

.image {
    text-align: center;
    margin-top: 20px;
}

.image img {
    width: 100%;
    height: auto;
}

a {
    color: blue;
}